server:
  #测试地址
  #test: http://localhost:8888/api/private/v1/
  test: http://dms-api.op.dianhun.cn:80
  #开发地址
  dev: http://127.0.0.1:8888/api/private/v1/

data_base:
  host: 127.0.0.1
  port: 3306
  user: root
  passwd: "123456"
  db: dms

#实际响应jsonpath提取规则设置
response_reg:
  #提取token的jsonpath表达式
  token: $.data
  #提取实际响应的断言数据jsonpath表达式，与excel中的预期结果数据进行比对用
  #response: $.*

#相关文件路径
file_path:
  case_response_data: ../data/case_data.xlsx
  case_db_data: ../data/check_data.xlsx
  report_data: ../result/report/data
  report_generate: ../result/report/html
  report_zip: ../result/report/apiAutoTestReport.zip
  log_path: ../result/logs/运行日志{time}.log

email:
  #发件人邮箱
  user: 381349463@qq.com
  #发件人邮箱授权码
  password: nqcnpacwujgibhcf
  #邮箱服务协议
  host: smtp.qq.com
  #主体内容
  contents: 解压apiAutoReport.zip(接口测试报告)后，请使用已安装Live Server 插件的VsCode，打开解压目录下的index.html查看报告
  #收件人邮箱
  addressees: ["wangluyan128@126.com","381349463@qq.com"]
  #标题
  title: 接口自动化测试报告(见附件)
  #附件
  enclosures: ["../../result/report/apiAutoTestReport.zip",]
